<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928557662726-okgs3i3lghv691s4eu0m49rurn2olust.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928557662726-okgs3i3lghv691s4eu0m49rurn2olust</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928557662726-qnd3etk4tt3uk0qorvq8iqo0qokk6feq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKvnGfvbvLfUDFPxMQC30QoaOHfvMXvc8</string>
	<key>GCM_SENDER_ID</key>
	<string>928557662726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abed.blog</string>
	<key>PROJECT_ID</key>
	<string>blog-d6305</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-d6305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928557662726:ios:899b423fc36f9c8f0df987</string>
	<key>DATABASE_URL</key>
	<string>https://blog-d6305.firebaseio.com</string>
</dict>
</plist>